NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_RAZORPAY_KEY_ID=
FONOSTER_API_KEY=
FONOSTER_API_SECRET=
FONOSTER_WORKSPACE_ACCESS_KEY_ID=
FONOSTER_FROM_NUMBER=
FONOSTER_APP_REF=
FONOSTER_ENDPOINT=api.fonoster.com
